@charset "utf-8";
#main {
    width: 980px;
    height: 740px;
    margin: auto;
}
/*封面*/
#index {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

#index img {
    width: 100%;
    height: 100%;
}

#index a.clickBtn {
    width: 40.71117561683599%;
    height: 12.10067763794773%;
    border-radius: 20px;
    position: absolute;
    border: 0px solid #f0cf2a;
    left: 28.51959361393324%;
    top: 73.28170377541142%;
}

/*浏览器提示*/
#nohtml5 {
    background: #fff8d4;
    z-index: 99999;
    font-size: 14px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    color: #837955;
    opacity: 0.4;
}

#nohtml5 div {
    width: 980px;
    padding-left: 40px;
    margin: auto;
    line-height: 50px;
    background: url(../images/alert.jpg) left no-repeat;
    height: 50px;
}

#nohtml5 a {
    color: #837955;
    margin-left: 10px;
}

#nohtml5 div img {
    position: relative;
    top: 5px;
}

.delnohtml5 {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    color: #f00;
    text-align: center;
    line-height: 20px;
    top: 15PX;
    right: 0;
    cursor: pointer;
}
